.main-container {
    height: 100vh;
    width: auto;
}

.div-box {
    width: 15px;
}

.niantic-img {
    height: 65px;
    width: auto;
}

.sign-in-txt {
    letter-spacing: 4px;
    font-size: 1.7rem;
}

/* button section **/
.fff-btn {
    color: #fff;
}

.sign-in-btn {
    width: 300px;
    height: 40px;
    border-radius: 30px;
}

.apple-btn {
    background-color: #000;
}
.fa-brands {
    letter-spacing: 5px;
}

.fb-btn {
    background-color: #0b66ff;
}

.google-btn {
    color: #000;
    background-color: none;
}