@media screen and (min-width: 1024px) {
    .nav-mid {
        width: 100%;
    }

    .nav-ul {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-right {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .nav-btns {
        margin-left: 2%;
    }

    .nav-left {
        width: 100%;
    }
}