#footer {
    background-color: #222;
    color: #fff;
    padding: 5%;
}

.brabus-txt-footer {
    font-family: "Komigo 3D", sans-serif;
    font-size: 2.5rem;
    color: #fff;
}

.brabus-txt-footer:hover {
    color: #fff;
}

.footer-brabus-logo {
    height: 50px;
    width: auto;
}

.footer-hr {
    font-weight: bold;
}