.buy-now-btn {
    background-color: #103543;
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 1.25rem;
    padding: 1.5% 0;
    border: none;
    border-radius: 10px;
}

.buy-now-btn:hover {
    background-color: #164759;
}

.gcash-input,
.card-input {
    border-radius: 30px;
    height: 40px;
    width: 50%;
    padding: 0 15px;
}

.gcash-payment,
.card-payment {
    padding: 3%;
}